:root{
    --color:#24BA9F;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;;
}
.btn{
    border: 0;
    color: #fff;
    background: var(--color);
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 7px;
}
.container{
    width: 1050px;
    margin: 0 auto;
}

/*-----page header-----*/
.page-header{
    height: 40px;
    background-color: black;
    position: relative;
    z-index: 1000;
}
.page-header .container{
    height: 100%; /* 40px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-logo{
    color:white;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.page-logo span{
    color:var(--color);
}
.page-nav-list{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
}
.page-nav-list{}
.page-nav-list-el{
    position: relative;
}
.page-nav-list-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    line-height: 40px;
}
.page-nav-list-link:hover{
    color:var(--color);
}

.page-nav-sublist{
    list-style: none;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    padding: 10px;
    min-width: 150px;
    display: block;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity;
}
.page-nav-sublist-el{
    display: block;
}
.page-nav-list-el:hover .page-nav-sublist{
    opacity: 1;
    visibility: visible;
}
.page-nav-list-el:hover .page-nav-list-link {
    color: var(--color);
}
.page-nav-sublist-link:hover{
    color: var(--color);
}
.page-nav-sublist-link{
    padding: 0 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 1.5em;
    background: #000;

}
.page-nav-sublist:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid white;
    border-bottom-color: black;
    position: absolute;
    top:-20px;
    left:50%;
    transform: translate(-50%, 0);
}
.page-nav-sublist:after{ /*wypelnienie dziury sublisty*/
    content: '';
    background: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    left:0;
    top: -20px;
}

.main-banner{
    height: 500px;
    background: linear-gradient(#fff, #cecece);
}
.banner{
    height: 500px;
    display: flex;
}
.banner-prev,
.banner-next{
    width: 60px;
    background: none;
    border:0;
    font-size: 70px;
    color: var(--color);
}
.banner-next{
    order:1;
}
.banner-slides{
    flex-grow: 1;
    background:transparent;
    position: relative;
}
.banner-slide{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    opacity: 0;
    transition: 0.5s all;
}
.banner-slide-active{
    opacity:1;
    z-index:1;
}
.banner-prev:focus,
.banner-next:focus{
    outline: none;
}

.section-title{
    color: #575757;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
}

.section-title:after{
    content: '';
    width: 315px;
    height: 8px;
    background-color: var(--color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.form{
    display: flex;
    justify-content: space-between;
}
.form-left{
    width: 630px;
}
.form-right{
    width: 340px;
}
.form-row{
    margin-bottom: 28px;
}
.form-control{
    height: 63px;
    border: 1px solid var(--color);
    width: 100%;
    padding: 0 15px;
    font-size: 33px;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
textarea.form-control{
    height: 190px;
    resize: none;
    padding: 15px;
}
.form-control::placeholder{
    color:#cecece;
}
.form-control:focus{
    outline: none;
    border: 2px solid var(--color);
    box-shadow: inset 0 0 0 1px var(--color);
}
.form-addition{
    height: 200px;
    background: url("../images/red_chair.png");
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: -25px;
}
.form-checkbox{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 35px 0;
    color: #cecece;
    font-size: 18px;

}
.form-checkbox-input{
    position: absolute;
    left: -9999999999999999px;
}
.form-checkbox-mark{
    display: block;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid var(--color);
    margin-right: 10px;
}
.form-checkbox-input:checked + .form-checkbox-mark{
    background: url("../images/form_ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.form-submit-btn{
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    padding: 20px;

}

